
@{
    ViewBag.Title = "confirmation";
}

<h2>Thank you for your interest</h2>

<p>Your message has been recieved and sent to me directly.  I will aim to respond within the next 3 working days.</p>
<p>Many thanks,</p>
<p>Elliot Naylor</p>