<div class="container">
    <div id="socials">
        <a href="https://www.facebook.com/elliot.jdnaylor" rel="noreferrer" target="_blank" title="Find me on Facebook"><i class="fab fa-facebook-square fa-2x"></i></a>
        <a href="https://twitter.com/ElliotJDNaylor" target="_blank" rel="noreferrer" title="Find me on Twitter"><i class="fab fa-twitter-square fa-2x"></i></a>
        <a href="https://www.linkedin.com/in/elliot-naylor-9a817a9b" target="_blank" rel="noreferrer" title="Find me on Linked In"><i class="fab fa-linkedin fa-2x"></i></a>
        <a href="https://www.instagram.com/flavouredbiscuit/" target="_blank" rel="noreferrer" title="Find me on Instagram"><i class="fab fa-instagram fa-2x"></i></a>
        <a href="mailto:elliot.jd.naylor@gmail.com" target="_blank" rel="noreferrer" title="Find me on Email"><i class="fas fa-envelope-square fa-2x"></i></a>
        <a href="https://github.com/Flavoured-Biscuit" target="_blank" rel="noreferrer" title="Find me on Github"><i class="fab fa-github fa-2x"></i></a>
    </div>
    <div>
        Copyright &copy; @DateTime.Now.Year - Elliot JD Naylor
    </div>
</div>
