<h1>Elliot JD Naylor <br /> <small>Web Developer</small></h1>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="@Url.Action("Index", "CV")">CV</a></li>
        <li><a href="@Url.Action("Index", "Projects")">Projects</a></li>
        <li><a href="@Url.Action("Index", "Contact")">Contact</a></li>
    </ul>
</nav>