
@{
    ViewBag.Title = "Error_404";
}

<h2>Whoops, this page doesn't exist!</h2>
<p>
    <div class="form-field-btngroup">
        <input type="button" onclick="window.location.href='/'" value="GO HOME" />
    </div>
</p>

