
@{
    ViewBag.Title = "Error_500";
}

<h2>Whoops, it looks like something has gone wrong!</h2>
<p>
    Not to worry though, I have been notified and will aim to fix it as soon as possible.
</p>
<p>
    Please come back another time and try again!
</p>

