@model ElliotJDNaylor.Models.Link

<a href="@Model.ButtonUrl" class="animated-button @Model.ButtonColour">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    @Model.ButtonText
</a>