
@{
    ViewBag.Title = "Projects";
}

<h2>Whoops, it looks like I havent added any projects here yet!</h2>

<p>Not to worry though, I will be updating this page in the near future with a couple of ongoing projects.</p>
<p>Watch this space!</p>