
@{
    ViewBag.Title = "CV";
}

<div class="row">
    <div class="column">
        <section>
            <h2 class="title">Strengths</h2>
            <ul class="feature">
                <li>
                    Software Development
                </li>
                <li>
                    Web Design
                </li>
                <li>
                    Web Development
                </li>
                <li>
                    Time Management
                </li>
                <li>
                    Problem Solving
                </li>
                <li>
                    Flexibility / Adaptability
                </li>
            </ul>
        </section>
    </div>
    <div class="column wide">
        <section>
            <a name="top"></a>
            <h2 class="title">Work Experience</h2>

            <h3>Web Developer, Tractivity Ltd</h3>
            <div class="help-text">March 2018 - Present</div>
            <p>
                The product, Tractivity, is a Customer Relationship Management (CRM) system focused mainly around stakeholder management.
                Clients such as EDF Energy, Scottish Power and Network Rail use this software to manage all of their engagements with their potential customers and existing projects.
                My role involves maintaining and upgrading the Tractivity product based on client requirements.
            </p>
            <p>
                I have an excellent understanding of various web technologies such as:
            </p>
            <ul>
                <li>C#</li>
                <li>JQuery</li>
                <li>Javascript</li>
                <li>ASP.NET MVC</li>
                <li>SQL</li>
            </ul>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>REST/SOAP</li>
                <li>Umbraco CMS</li>
            </ul>

            <p>I have also been trained using the following web development software:</p>
            <ul>
                <li>Visual Studio</li>
                <li>SQL Management Studio</li>
                <li>Resharper</li>
                <li>Team Foundation Server (TFS)</li>
            </ul>
            <h3>Web Developer, SVM Global</h3>
            <div class="help-text">July 2015 - March 2018</div>
            <p>
                SVM Global are a reseller and distributor of gift cards, e-codes and vouchers (<a target="_blank" rel="noreferrer" href="http://www.svmglobal.com">http://www.svmglobal.com</a>).
                My role within the company was to create and maintain web applications from design to delivery based on specific client requirements.
                My most notable projects since my employment at SVM include:
                <ul>
                    <li>
                        Creating SOAP/RESTful web services to successfully integrate with third-party APIs.
                        This enabled SVM to fulfill digital orders in real-time from the customer placing an order, and receiving it in their inbox minutes later.
                        This was particularly popular with Amazon e-codes, which saw sales of the product almost triple in revenue in the course of the first year.
                    </li>
                    <li>
                        Custom email templating would allow clients of SVM their own branded email templates.
                        This was a particular selling point for SVM account managers to attract new business, in this case, Tesco, Thomas Cook and ASDA.
                        All these clients took advantage of this functionality to provide e-codes to their customers using their own brand.
                    </li>
                </ul>
            </p>

            <h3>2nd Line Support Engineer, Sheffield teaching Hospitals</h3>
            <div class="help-text">September 2013 - October 2014</div>
            <p>
                During my work placement year for University, I worked as a 2nd line IT engineer (<a target="_blank" rel="noreferrer" href="http://www.sth.nhs.uk">http://www.sth.nhs.uk</a>).
                My role was to provide both on-site and remote technical assistance ranging across a wide variety of devices such as desktop PC's, laptops, printers, X-ray modalities, Blackberry's and tablets.
                Three months of my placement was spent working with the 1st line support team, providing first point of contact support over the phone.

                <ul>
                    <li>
                        TCP/IP Networking
                    </li>
                    <li>
                        Active Directory
                    </li>
                    <li>
                        Systems Centre Configuration Manager
                    </li>
                    <li>
                        Software Installation
                    </li>
                    <li>
                        Remote Desktop Manager
                    </li>
                </ul>
            </p>
        </section>

        <section>
            <h2 class="title">Education</h2>

            <h3>BSC Computer Studies, Sheffield Hallam University</h3>
            <div class="help-text">2011 September - 2015 May</div>
            <p>
                Grade Achieved: <span class="bold">2:1</span>
                <ul>
                    <li>Cloud Computing</li>
                    <li>Web Architectures</li>
                    <li>Advanced Web applications</li>
                    <li>Advanced Databases And Client Server Applications</li>
                    <li>Management of IT Services And Security</li>
                </ul>
                <ul>
                    <li>E-Business</li>
                    <li>Object Oriented Analysis And Design</li>
                    <li>Web Based Information Systems</li>
                    <li>Final Year Project (Dissertation)</li>
                </ul>
            </p>
        </section>

        <section>
            <h2 class="title">Awards and Achievements</h2>
            <h3>MTA: Database Fundamentals, Sheffield Hallam University</h3>
            <p>
                Grade Achieved: <span class="bold">PASS</span>
            </p>
        </section>

        <section>
            <h2 class="title">Activites and Interests</h2>
            <p>
                I like to socialise with friends and family in my free time, either face to face or playing online computer games.
                I also like to keep healthy the best I can by attending the local gym and taking part in the 5k Parkrun once a week.
            </p>
        </section>
        <div class="form-field-btngroup">
            <a id="top">Back to top</a>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $("#top").click(function () {
            $('html,body').animate({ scrollTop: 0 }, 'slow');
        });
    </script>

}